.container{
    height: 100vh;
    width: 100vw;
    border-radius: 0px 0px 50px 50px;
    margin: 0 auto;
    color: rgb(220, 220, 220);
    background: radial-gradient(300% 100% at top, rgb(13, 30, 142) 15%, rgba(0,249,255,1) 130%);
    & .logo{
        // width: 100%;
    }

    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        // gap: 15rem;
        margin: 6rem 0;

        &__text{
            text-align: center;
            font-size: 3rem;
            width: 70vw;
            // width: 41vw;
            height: 65vh;
            & .header{
                font-size: 5rem;
                padding: 1rem;
                font-weight: 700;
                letter-spacing: 2px;
                margin-top: 4rem;
                margin-bottom: 4rem;
            }
            & .summary{
                padding: 1rem;
                font-size: 2rem;
                letter-spacing: 3px;
                word-spacing: 3px;
                line-height: 5rem;
            }
        }
        &__anim{
            // width: 40vw;
            // height: 65vh;
        }
    }
    }